/* ------------------reseteo------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}


 img{
    width: 100%;
    max-height: 18.7rem;
    box-shadow: 4px 5px 3px grey;
} 

h1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 5px 3px grey;
}

/*-----------------------------header--------------------------- */
header{
    width: 100%;
    height: 4rem;
    padding: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:white;
    
}
header .logo{
    position:fixed;
    top:1rem;
    left: 1rem;
    width: 4rem;
    height: 2.5rem;  
    box-shadow: none;
}

/* ------------------------------navar---------------------------- */
 .navar{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
     justify-content: end; 
    background-color: black;
    color: white;
    font-weight: bold;
} 

 .navar ul{
    display: flex;
    align-items: center;
    list-style: none;

} 

.navar a{
    margin-left: 1.6rem;  
    padding: .3rem .5rem;
    text-decoration: none;
    color: white;
    text-shadow: 2px 4px 3px grey;
}

.navar a:hover{
    color:black;
    padding: .13rem .3rem;
    background-color: rgb(180, 180, 180);
    border-radius: 0.5rem;
    font-weight: bold;
    transition: 1s all ;
}

.container_image{        /*al contenedor FLEX*/
    display: flex;
     padding: .3rem; 
    flex-wrap: wrap;   /*FLEX-WRAP: WRAP-- para que salte si no alcanza*/

}
.column{
    flex:20%;          /*crea 4 columnas de 25% cada una*/
    padding: .3rem;
}
.column img{
    margin-top: .3rem;
}

/* --------------------------------footer----------------------- */
footer{
    display: flex;
    width: 100%;
    height: 4rem;
    padding: .6rem;
    background-color: black;
    justify-content: center;
    align-items: center;
    color:white;
}
footer a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 4px 3px grey;
}

footer a:hover{
    color:black;
    padding: .13rem 0.3rem;
    background-color: rgb(180, 180, 180);
    border-radius: .5rem;
    font-weight: bold;
    transition: 0.3s all ;
}

/* ---------------------------media query------------------------ */
@media screen and (max-width:940px){
    .column{
        flex:50%       /*crea 2 columnas de 50% cada una*/
    }
    img{
        width: 100%;
        max-height: 29rem;
     
    }
  
}
@media screen and (max-width:600px){
    .column{
        flex:100%        /*crea 1 columna de 100% */
    }

    .navar{
        width: 100%;
         height: 20vh; 
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
    }
    .navar ul{
        flex-direction: column;
        margin: .6rem;
    }
    .navar a{
        width: auto;
        height: 1.3rem;
        padding: .3rem;
        margin-top:.6rem
    }
    img{
        width: 100%;
        max-height: 29rem;
     
    }
}
